.particle-container {
    position:relative;
    width:500px;
    height:500px;
}

.particle {
    width:10px;
    height:10px;
    border-radius:10px;
    position:absolute;
    transition: all 1s ease-in-out;
    /*line-height:3;*/
    
    /*hideyhoo the text numbers*/
    color:rgba(0,0,0,0); 
    text-align:center;
    font-family:Verdana;
    font-size:0.8em;
}